# Python
__pycache__/
*.py[cod]
*.ipynb_checkpoints
.env
.venv/
*.env
*.log

# DVC
# Keep .dvc config and .dvc files, but ignore data and cache directories
.dvc/cache/
.dvc/tmp/
.dvc/plots/
.dvc/lock
**/*.csv
**/*.txt
!data/raw/*.dvc   # Track only the .dvc files, not the actual data
data/raw/MachineLearningRating_v3.txt

# Jupyter Notebooks Checkpoints
.ipynb_checkpoints/

# VSCode & IDEs
.vscode/
.idea/

# System
.DS_Store
Thumbs.db
